<ng-container [ngSwitch]="rt">
  <div *ngSwitchCase="roleType.DeviceManager" class="role">
    <span class="material-icons">devices</span>
    <div class="name">{{ getRoleTypeName(rt) }}</div>
  </div>
  <div *ngSwitchCase="roleType.FixtureManager" class="role">
    <span class="material-icons">batch_prediction</span>
    <div class="name">{{ getRoleTypeName(rt) }}</div>
  </div>
  <div *ngSwitchCase="roleType.FixtureOperator" class="role">
    <span class="material-icons">online_prediction</span>
    <div class="name">{{ getRoleTypeName(rt) }}</div>
  </div>
  <div *ngSwitchCase="roleType.FixtureProvider" class="role">
    <span class="material-icons">lightbulb</span>
    <div class="name">{{ getRoleTypeName(rt) }}</div>
  </div>
  <div *ngSwitchDefault class="role">
    <span class="material-icons">help</span>
    <div class="name">
      <span *ngIf="isUnknown()">Unknown </span>
      <span *ngIf="!isUnknown()">Missing visualization </span>
      <span class="style-subsidiary">({{ rt }})</span>
    </div>
  </div>
</ng-container>
