<div class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <h2>Edit device</h2>
      <app-app-device-management-connected-state [connected]="device.is_connected">
      </app-app-device-management-connected-state>
      <p>Device ID: {{ device.id }}</p>
      <p>Name: <span *ngIf="device.name" class="style-primary">{{ device.name }}
      </span><span *ngIf="!device.name" class="style-subsidiary">Unknown</span></p>
      <p>Self description: {{ device.self_description }}</p>
      <p>Last seen: {{ device.last_seen | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
      <p *ngIf="device.roles">Roles:</p>
      <ng-container *ngIf="device.roles">
        <app-role-type *ngFor="let role of device.roles" [rt]="getRoleByStr(role)"></app-role-type>
      </ng-container>
    </div>
    <div class="modal-footer">
      <app-button (click)="close()">Close</app-button>
      <app-button (click)="delete()" color="danger">Delete</app-button>
      <app-button (click)="editName()">Edit Name</app-button>
    </div>
  </div>
</div>
