@import "src/styles/util.scss";
@import "src/styles/forms.scss";

input {
  border: $masc-layout solid 2px;
  border-radius: 0;
  padding: 4px;
}

:host {
  display: block;
}

:host > div {
  display: flex;
  flex-direction: column;
}
