$masc-base: #000000;
$masc-base-contrast: #ffffff;
$masc-primary: #00a69d;
$masc-secondary: #9b00cb;
$masc-success: #00d000;
$masc-danger: #da0000;
$masc-warn: #ffdd00;
$masc-subsidiary: #868686;
$masc-layout: #000000;
$masc-layout-contrast: #ffffff;
$masc-layout-secondary: #a8a8a8;
$masc-header-bg: #f3f3f3;
