$masc-primary: #000000;
$masc-primary-contrast: #ffffff;
$masc-secondary: #00a69d;
$masc-success: #00d000;
$masc-danger: #da0000;
$masc-warn: #ffdd00;
$masc-subsidiary: #a2a2a2;
$masc-layout: #000000;
$masc-layout-contrast: #ffffff;
$masc-header-bg: #f3f3f3;
