$masc-base: #000000;
$masc-base-contrast: #ffffff;
$masc-primary: #00a69d;
$masc-primary-contrast: #ffffff;
$masc-secondary: #9b00cb;
$masc-secondary-contrast: #ffffff;
$masc-success: #00d000;
$masc-danger: #d00000;
$masc-warn: #e8c100;
$masc-subsidiary: #868686;
$masc-subsidiary-lighter: #d0d0d0;
$masc-subsidiary-light: #ececec;
$masc-layout: #000000;
$masc-layout-contrast: #ffffff;
$masc-layout-secondary: #a8a8a8;
$masc-header-bg: #f3f3f3;
$masc-fixture-enabled: #ffdd00;
