@import "corporate";

.style-base {
}

.style-primary {
}

.style-subsidiary {
}

.style-success {
}

.style-warn {
}

.style-danger {
}

span.style-base {
  color: $masc-base;
}

span.style-primary {
  color: $masc-primary;
}

span.style-secondary {
  color: $masc-secondary;
}

span.style-subsidiary {
  color: $masc-subsidiary;
}

span.style-success {
  color: $masc-success;
}

span.style-warn {
  color: $masc-warn;
}

span.style-danger {
  color: $masc-danger;
}

// Modals.

.modal.style-warn > .modal-content {
  border-color: $masc-warn;
}

.modal.style-danger > .modal-content {
  border-color: $masc-danger;
}
