@import "corporate";
@import "theming";

// Makes the cursor a pointer.
.clickable {
  cursor: pointer;
}

.clickable-layout {
  @extend .clickable;
  background-color: $masc-layout-contrast;
  color: $masc-layout;
}

.clickable-layout:hover {
  filter: brightness(95%);
}

.clickable-layout:active {
  background-color: $masc-layout;
  color: $masc-layout-contrast;
}

// Animates an pulsating opacity.
.anim-breathe {
  animation: animBreathe 1.5s ease-out infinite normal;
}

@keyframes animBreathe {
  0% {
    opacity: 50%;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 50%;
  }
}

.row-baseline {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}
