<div class="view-full">
  <h1>Apps</h1>
  <div class="apps">
    <app-dashboard-app *ngIf="hasRoleType(roleType.FixtureOperator)"
                       [routerLink]="['/app/fixture-operation']"
                       description="Turn fixtures on/off and operate them."
                       icon="online_prediction"
                       title="Fixture Operation"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.DeviceManager)"
                       [routerLink]="['/app/device-management']"
                       description="Manage, name and remove devices."
                       icon="devices"
                       title="Device Management"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.FixtureManager)"
                       [routerLink]="['/app/fixture-management']"
                       description="Manage, name and remove fixtures."
                       icon="batch_prediction"
                       title="Fixture Management"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.FixtureProvider)"
                       [routerLink]="['/app/test-fixture-provider']"
                       description="Monitor test fixture states."
                       icon="model_training"
                       title="Test Fixture Provider"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.LightSwitchManager)"
                       [routerLink]="['/app/light-switch-management']"
                       description="Manage, assign and forget light switches."
                       icon="toggle_on"
                       title="Light Switch Manager"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.LogMonitor)"
                       [routerLink]="['/app/system-status']"
                       description="View the system status."
                       icon="health_and_safety"
                       title="System Status"></app-dashboard-app>
  </div>
</div>
