<div class="view-full">
  <h1>Apps</h1>
  <div class="apps">
    <app-dashboard-app *ngIf="hasRoleType(roleType.DeviceManager)"
                       title="Device Management"
                       description="Manage, name and remove devices."
                       icon="devices"
                       [routerLink]="['/app/device-management']"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.FixtureManager)"
                       title="Fixture Management"
                       description="Manage, name and remove fixtures."
                       icon="batch_prediction"
                       [routerLink]="['/app/fixture-management']"></app-dashboard-app>
    <app-dashboard-app *ngIf="hasRoleType(roleType.FixtureProvider)"
                       title="Test Fixture Provider"
                       description="Monitor test fixture states."
                       icon="model_training"
                       [routerLink]="['/app/test-fixture-provider']"></app-dashboard-app>
  </div>
</div>
