@import "src/styles/view";
@import "src/styles/util";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  box-sizing: border-box;
}

.logo {
  font-size: 4em;
}
