@import "../../../../styles/util";

:host > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.online .icon {
  color: $masc-success;
}

.offline .icon {
  color: $masc-subsidiary;
}
