@import "src/styles/util";

$headerHeight: 3em;

.apps {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $headerHeight;
  width: $headerHeight;
}

.apps:hover {
  color: $masc-subsidiary;
}

.apps:active {
  color: $masc-layout-contrast;
  background-color: $masc-layout;
}

.logo {
  font-size: 2em;
}

.branding-and-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.clock {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
  margin-right: 8px;
}

.clock .hour-minutes {
  font-size: 1.6em;
}

.clock .seconds {
  color: $masc-subsidiary;
}

:host {
  background-color: $masc-header-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  width: 100%;
}
